@import '../../sass/index.scss';

.card-pokemon {
  padding: 4px 6px;
  background-color: $background-card-pokemon;
  cursor: pointer;
  @include card(auto, 260px, none, 12px, $box-shadow-card-pokemon);
  @include grid-layout(50px auto 50px, null, null);

  &:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
  }

  header {
    @include aling-flex(flex-start, center, 2px);
    background-color: $background-header-card;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    box-shadow: $box-shadow-header-card;
    div {
      font-family: $font-roboto;
      color: rgb(116, 113, 113);

      p {
        font-size: 14px;
      }
    }
  }

  main {
    @include aling-flex(center, center);
  }

  footer {
    @include aling-flex(center, center, 4px);

    p {
      padding: 6px 14px;
      border-radius: 60px;
      font-family: $font-roboto;
      color: #eeeded;
    }
  }
}
