<div class="auth-container">
  <div class="card-login">
    <header>
      <img
        width="260"
        height="150"
        src="../../../../../assets/images/logoPokemon.png"
        alt="login-image"
      />
      <!-- <h1>Welcome</h1> -->
    </header>

    <main>
      <label for="username">
        User Name
        <input
          type="text"
          id="username"
          name="username"
          placeholder="pokemon@example.com"
        />
      </label>

      <label for="password">
        Password
        <input
          type="password"
          id="password"
          name="password"
          placeholder="*********"
        />
      </label>
    </main>

    <footer>
      <button>Login</button>
    </footer>
  </div>
  <div class="img-content">
    <!-- <img
      style="width: 230px"
      src="../../../../../assets/images/logoPokemon.png"
      alt="login-image"
    />
    <img
      style="width: 200px"
      src="../../../../../assets/images/pngwing.com.png"
      alt="login-image"
    /> -->
    <img
      style="width: 550px"
      src="../../../../../assets/images/login.png"
      alt="login-image"
    />
  </div>
</div>
