@mixin aling-flex(
  $justify-content: center,
  $align-items: center,
  $gap: 0,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-direction: $flex-direction;
}

@mixin aling-grid(
  $gap: 0px,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: grid;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid-layout($grid-rows: auto, $grid-columns: auto, $grid-area: auto) {
  display: grid;
  grid-template-columns: $grid-columns;
  grid-template-rows: $grid-rows;
  grid-area: $grid-area;
}

@mixin card(
  $width: 100px,
  $height: 100px,
  $border: none,
  $borderRadius: 6px,
  $box-shadow
) {
  border: $border;
  width: $width;
  height: $height;
  border-radius: $borderRadius;
  box-shadow: $box-shadow;
}

@mixin circle(
  $height: auto,
  $width: auto,
  $border-radius: 0,
  $background,
  $box-shadow
) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  background-color: $background;
  box-shadow: $box-shadow;
}

@mixin font-styles(
  $font-family: $font-Pt,
  $font-weight: 500,
  $font-size: 12px,
  $font-color: $color-text-general
) {
  @if $font-family == 'default' {
    font-family: $font-Pt;
  } @else {
    font-family: $font-family;
  }

  font-weight: $font-weight;
  font-size: $font-size;
  color: $font-color;
}
