$background-main: #e3ebf3;
$background-card: #ffffff;
$background-navbar: #e3ebf3;
$background-sidebar: #2d4857;
$background-pages: #ffffff;
$background-input: #ffffff;
$background-button: #2d4857;

$color-text-button: #ffffff;
$color-text-h1: #2d4857;
$color-text-general: #052c42;
$color-text-title-pages: #293253;
$color-form-label: #2d4857;
$color-border-input: #beccff;

$box-shadow: 6px 6px 14px -6px rgba(0, 63, 128, 0.12),
  0px 8px 32px -4px rgba(0, 63, 128, 0.1);

$box-shadow-card-counter: 2px 2px 12px 2px rgba(0, 64, 128, 0.089),
  2px 4px 8px 2px rgba(0, 64, 128, 0.096);
