$background-main: #e3ebf3;
$background-card-pokemon: #fffbfb;
$background-navbar: #e3ebf3;
$background-pages: #ffffff;
$background-input: #ffffff;
$background-button: #2d4857;
$background-header-card: #d1cece56;

$color-text-general: #052c42;
$color-border-input: #beccff;
$color-form-label: #2d4857;

$box-shadow-circle: -1px 1px 3px 1px inset black;
$box-shadow-header-card: -1px 1px 2px 1px inset rgba(0, 0, 0, 0.219);
$box-shadow-card-pokemon: 2px 2px 12px 2px rgba(71, 73, 75, 0.288),
  2px 4px 8px 2px rgba(0, 64, 128, 0.247);

$font-roboto: 'Roboto';
$font-manrope: 'Manrope';
$font-Pt: 'PT Sans Caption';
